{% extends "base.html" %}
{% load static %}

{% block title %}All Tricks{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/tricks.css' %}">
{% endblock style %}

{% block header %}All Tricks Directory{% endblock header %}

{% block content %}

<form class="searchbar" method="GET">
    <input name="search" type="text" placeholder="Search:">
    <button type="submit">&#9658;</button>
</form>


{% for trick in tricks %}
    <div class="section {% cycle 'bg-1' 'bg-2' %}">
        <h2><a href="{% url 'tricks:tricks-page' trick.slug%}" class="tricklink">{{trick.name|title}}</a></h2>
        {% include "tricks/tricksimple.html" %}
    </div>
{% empty %}
<p>None found. Check spelling, or try a different query. </p>
{% endfor %}


{% endblock content %}
