{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/tricks.css' %}">
{% endblock style %}

{% block content %}

    <h1 class="title">Editing {{trick.name|title}}</h1>

    <form action="/edit/" method="post" class="edittrick-form">
        {% csrf_token %}
        <label for="description">Description: </label>
        <input id="description" type="text" name="description" value="{{ trick.description }}">
        <label for="difficulty">Difficulty: </label>
        <input id="difficulty" type="number" name="difficulty" value="{{ trick.difficulty }}" min="1" max="5">
        <input type="submit" value="OK">
    </form>


{% endblock %} 