{% extends "base.html" %}
{% load static %}

{% block title %}New Trick{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/tricks.css' %}">
{% endblock style %}

{% block script %}
<script src="{% static 'js/edittrick.js' %}"></script>
{% endblock script %}

{% block header %}New Trick{% endblock header %}

{% block content %}
    
    <form action="" method="post" class="edittrick-form">
        {% csrf_token %}
        <label for="name">Name: </label>
        <input id="name" type="text" name="name">
        <label for="description">Description: </label>
        <input id="description" type="text" name="description">
        <label for="difficulty">Difficulty: </label>
        <input id="difficulty" type="number" name="difficulty" min="1" max="5">

        <fieldset>
            <legend>Instructions</legend>
            <div id="instruction-container">
                <input type="text" name="instruction0" class="instruction">
            </div>
            
            <button type="button" onClick='instructions_addinput()'>+</button>
            <button type="button" onClick='instructions_removeinput()'>-</button>
        </fieldset>

        <input type="submit">
    </form>


{% endblock %} 