{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/tricks.css' %}">
{% endblock style %}

{% block content %}

    <h1 class="title"> <a href="{% url 'tricks:tricks-page' trick.slug%}">{{trick.name|title}}</a> </h1>

    <div class="simpledescription">
        {% include "tricks/tricksimple.html" %}
    </div>
    
    <div>
        <ol class="instruction-container">

            {% for inst in trick.instructions %}
            <li class="instruction">
                {{inst}}
            </li>
            {% endfor %}

        </ol>
    </div>

{% endblock content %}