{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/tricks.css' %}">
{% endblock style %}

{% block content %}

    <h1 class="title"> 
        <a href="{% url 'tricks:tricks-page' trick.slug %}" class="tricklink">{{trick.name|title}}</a> 
        <a href="{% url 'tricks:tricks-edit' trick.slug %}" class="iconlink"><i class="fa fa-pencil-square-o"></i></a>
    </h1>

    <div class="simpledescription">
        {% include "tricks/tricksimple.html" %}
    </div>
    
    <div>
        <ol class="instruction-container">

            {% for inst in trick.instructions %}
            <li class="instruction">
                {{inst}}
            </li>
            {% endfor %}

        </ol>
    </div>

    <div>
        {% for key, value in trick.history.latest.changes_display_dict.items %}
        <p>Edit to {{ key }} by 
            {{ value.0|default:"None" }}
            {{ value.1|default:"None" }}
            {{ value }}
        </p>
        {% empty %}
        <p>No history for this item has been logged yet.</p>
        {% endfor %}
    </div>

{% endblock content %}