{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/tricks.css' %}">
{% endblock style %}

{% block content %}

    <h1 class="title"> 
        <a href="{% url 'tricks:tricks-page' trick.slug %}" class="tricklink">{{trick.name|title}}</a> 
        <a href="{% url 'tricks:tricks-edit' trick.slug %}" class="iconlink"><i class="fa fa-pencil-square-o"></i></a>
    </h1>

    <div class="simpledescription">
        {% include "tricks/tricksimple.html" %}
    </div>
    
    <div>
        <ol class="instruction-container">

            {% for inst in trick.instructions %}
            <li class="instruction">
                {{inst}}
            </li>
            {% endfor %}

        </ol>
    </div>

    <div>
        <h3>History</h2>
        {% if history.prev_record %}
            <p>Last edit by {{history.history_user}} to {{change.field|title}}:</p>
            {% for change in history_changes %}
            <p>{{change.old}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{change.new}} </p>
            {% endfor %}
        {% else %}
        <p>No past history.</p>
        {% endif %}
    </div>

{% endblock content %}