<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %} - Diabolo Wiki</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block style %}{% endblock style %}
</head>
<body>

    {% include "partials/_navbar.html" %}

    <main> 
        {% block content %}
            N/A
        {% endblock content %} 
    </main>
    
    {% block script %}{% endblock script %}

</body>
</html>