{% extends "base.html" %}
{% block content %}

<div class="columns-container">
    <div>
        {% include "partials/_form_messages.html" %}

        <form action="{% url 'contact' %}" method="post" class="contact-form">
            {% csrf_token %}
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" required>

                <label for="subject">Subject</label>
                <input type="text" name="subject" required>
            </div>
            
            <label for="message">Message</label>
            <textarea name="message" rows="3" placeholder="Enter your message here"></textarea>

            <input type="submit" value="Send Email">
        </form>
    </div>
    <div>
        <p>Open wiki to share information about yoyoing!</p>
        <p>Anybody can make an account and add information for people to share.</p>
    </div>

</div>


{% endblock content %}