{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock style %}

{% block content %}
    {% comment %} This should only show up if the user is logged in. Otherwise, views should redirect {% endcomment %}
    
    {% include "partials/_form_messages.html" %}
    
    <div class="columns-container" style="align-items:center;">

        <img width="100px" src="{% static "assets/account_icon.png" %}" alt="account icon">
        <h1 class="title">{{user.username}}
            <a href="{% url 'accounts:editaccount' %}" class="iconlink"><i class="fa fa-pencil-square-o"></i></a>
        </h1>

        <a href="{% url "accounts:logout" %}">Logout</a>

    </div>
    {% if user.profile.description %}
    <p>{{user.profile.description}}</p>
    {% else %}
    <p>No user description given.</p>
    {% endif %}
    

{% endblock %} 