{% extends "base.html" %}
{% load static %}

{% block title %}Edit Account{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock style %}

{% block header %}Editing {{user.username}} profile{% endblock header %}

{% block content %}
    {% comment %} This should only show up if the user is logged in. Otherwise, views should redirect {% endcomment %}

    <form action="{% url 'accounts:editaccount' %}" method="POST" enctype="multipart/form-data" class="contact-form">
        {% csrf_token %}
        {{form}}

        <input type="submit" value="Save">
    </form>

{% endblock %} 