{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock style %}

{% block content %}
    {% comment %} This should only show up if the user is logged in. Otherwise, views should redirect {% endcomment %}

    {% include "partials/_form_messages.html" %}

    <h1 class="title">Editing {{user.username}} profile</h1>

    <form action="{% url 'accounts:editaccount' %}" method="post" class="contact-form">
        {% csrf_token %}
        {{form}}

        <input type="submit" value="Save">
    </form>

{% endblock %} 