{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock style %}

{% block header %}Login{% endblock header %}

{% block content %}
    <form action="{% url 'accounts:login' %}" method="post" class="account-form">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" required>

        <label for="password">Password</label>
        <input type="password" name="password" required>

        <input type="submit" value="Login">
    </form>

    <a href="{% url "accounts:register" %}">No account? Register here:</a>

{% endblock %} 